<!DOCTYPE html>
<html>
<head>
  <title>NewRailsPj</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
            <a href="#" class="brand">Icecream Reviews</a>
                <ul class="nav">
               <% if user_signed_in? %>
                 <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
               <% else %>
 <li><%= link_to 'Log In', new_user_session_path %></li>
               <% end %>
                    <li><%= link_to "All Stores", stores_path %></li>
                    <li><%= link_to "Add Unlisted Flavors", ice_creams_path %></li>
                </ul>
               
            </div>
        </div>
    </div>
    <div class="container">
        <% flash.each do |type, message| %>
        <div class="alert flash <%= type %>">
        <%= message %>
        </div>
        <% end %>
<%= yield %>
</div>
</body>
</html>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>