<!DOCTYPE html>
<html>
<head>
  <title>NewRailsPj</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
            <a href="#">Icecreams</a>
            </div>
        </div>
    </div>
    <div class="container">
<%= yield %>
</div>
</body>
</html>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>